/* CreatePage.jsx and general */

.picture {
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.create-field {
  background-color: var(--white);
  height: 5vh;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 20px;
  color: #868c89;
  padding-left: 5vw;
  font-size: 1rem;
}

.date {
  width: 40%;
  margin-right: 5%;
}

.friend-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.little-friend-container {
  display: flex;
  align-items: center;
}

.friend-image {
  margin-right: 3vw;
}

.button-white {
  background-color: var(--white);
  color: var(--background);
}

.button-yellow {
  background-color: var(--yellow);
  color: var(--background);
}

/* CreateTagsPage.jsx */

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: var(--white);
  padding: 1rem;
  margin-right: 3vw;
  margin-bottom: 3vw;
  border-radius: 20px;
}

.selected-tag {
  background-color: var(--background);
  border: 2px solid var(--yellow);
}

.tag-image {
  height: 5vh;
  width: auto;
}

.yellow-text {
  color: var(--yellow);
  font-size: 0.8rem;
}
