.picture {
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.create-field {
  background-color: var(--white);
  height: 5vh;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 20px;
  color: #868c89;
  padding-left: 5vw;
  font-size: 1rem;
}

.date {
  width: 40%;
  margin-right: 5%;
}

.friend-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.button-white {
  background-color: var(--white);
  color: var(--background);
}

.button-yellow {
  background-color: var(--yellow);
  color: var(--background);
}
