/* created by Maciej */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


.popup {
  position:relative;
}



.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1rem;
}
.ag-canvas_svg path {
  stroke: #21252b;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.5s;
}
.countrylists {
  display: flex;
  justify-content: center;
  gap: 25%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fffbdb;
}
.bucketlist {
  width: 50%;
  height: auto;
}
.visited {
  display: flex;
  align-items: center;
  gap: 15px;
}
.undermap {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.bucketcontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  gap: 20px;
}
.flag {
  width: 20px;
  height: 10px;
}
#popup-top {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup-flag {
  height: 20px;
  width: 30px;
}
@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}


.map-popup {
  background-color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.button-container {
  margin-top: 10px;
  width: 100%;
}
.popup-button {
  margin-bottom: 10px;
  height: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-content {
  font-size: 9px;
  font-weight: 700;
  color: #21252b;
  text-align: center;
}
#popuptitle {
  color: #FFFBDB;
}