
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
}
body {
  background: #21252b;

  color: #d3ddef;
}
svg > path:hover {
  fill: yellow;
}


.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1rem;
}
.ag-canvas_svg path {
  fill: #FFFBDB;
  fill-opacity: 1;
  stroke: #21252b;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.5s;
}
.countrylists {
display: flex;
justify-content: center;
gap: 25%;
margin-top: 50px;
margin-left: 20px;
margin-right: 20px;
color: #FFFBDB;
}
.bucketlist {
  width: 50%;
  height: auto;
}
.visited {
  display: flex;
  align-items: center;
  gap: 15px;
}
.mapTop {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
#searchicon {
  width: 40px;
  height: 40px;
}
#profileicon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.undermap {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.bucketcontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  gap: 20px;
}
.flag {
  width: 20px;
  height: 10px;
}
.popupStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000000;
    border-radius: 20px;
    height: 80px;
    width: 120px;
    padding: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#popup-top {
  display: inline-flex;
  gap: 20px;
  justify-content: center;
}
.popup-flag {
  height: 20px;
  width: 30px;
}
#popup-button {
  height: 30px;
  width: 40px;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}
