.general-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* color themes */

body.light-theme {
  --background: #0c1d36;
  --white: #fffbdb;
  --yellow: #f5ba41;
}

body.dark-theme {
  --background: #fffbdb;
  --white: #0c1d36;
  --yellow: #f5ba41;
}

/* for yellow text */
.yellow {
  color: var(--yellow);
}

/* because of the fixed navigation, so we see the content */
.space-bottom {
  margin-bottom: 15vh;
}

/*Animation styling */
/* Container */
.section {
  background-color: #0c1d36;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* SVG image of the logo */
svg#svglogo {
  z-index: 100;
}

/* SVG styling and animation */
.logoanimation2 {
  height: 60px;
  width: 65px;
  z-index: 1;
  transform-origin: left;
}
.logoanimation {
  fill: #f5ba41;
  fill-opacity: 0;
  stroke: #f5ba41;
  stroke-width: 10px;
  stroke-dasharray: 70000px;
  stroke-dashoffset: 70000px;
  animation: type 2s 1 forwards ease-in;
  height: 60px;
  width: 60px;
  z-index: 3;
}
.logoanimation1 {
  fill: #f5ba41;
  fill-opacity: 0;
  stroke: #f5ba41;
  stroke-width: 10px;
  stroke-dasharray: 70000px;
  stroke-dashoffset: 70000px;
  animation: type 2s 1 forwards ease-in;
  height: 60px;
  width: 60px;
  z-index: 1000;
}
/* Animation stages */
@keyframes type {
  0% {
    stroke-dashoffset: 70000px;
    fill-opacity: 0;
  }
  35% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0px;
    fill-opacity: 1;
  }
}
.field {
  background-color: var(--white);
  height: 50px;
  width: 75%;
  margin-bottom: 15%;
  border-radius: 20px;
  color: #868c89;
  padding-left: 10px;
}

@media only screen and (max-width: 900px) {
  .logoanimation,
  .logoanimation1,
  .logoanimation2 {
    width: 40px;
    height: 40px;
  }
}
