#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*Animation styling */
/* Container */
.section {
  background-color: #0C1D36;
  height: 100%;
  display: grid;
  place-items: center;
}
/* SVG image of the logo */
svg#svglogo {
  z-index: 100; 
  display: block;
  margin:0 auto;
  grid-column: 1;
  grid-row: 1;
}

/* SVG styling and animation */
.logoanimation2 {
  height: 600px;
  width: 650px;
  z-index: 1;
  transform-origin: left;
}
.logoanimation {
  fill: #F5BA41;
  fill-opacity: 0;
  stroke: #F5BA41;
  stroke-width: 10px;
  stroke-dasharray: 70000px;
  stroke-dashoffset: 70000px;
  animation: type 2s 1 forwards ease-in;
  height: 600px;
  width: 600px;
  z-index: 3;
}
.logoanimation1 {
  fill: #F5BA41;
  fill-opacity: 0;
  stroke: #F5BA41;
  stroke-width: 10px;
  stroke-dasharray: 70000px;
  stroke-dashoffset: 70000px;
  animation: type 2s 1 forwards ease-in;
  height: 600px;
  width: 600px;
  z-index: 1000;
}
/* Animation stages */
@keyframes type {
  0% {
    stroke-dashoffset: 70000px;
    fill-opacity: 0;
  }
  35%{
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0px;
    fill-opacity: 1;
  }
}

